# Global compiled file
*.pyc

# Auto generated conf
egs/**/conf/*
!egs/**/conf/dnn
!egs/**/conf/logging_config.conf

# Running part
experiments/
*data*

# Tools
SPTK*
build/
bin/

# Pycharm IDE
.idea/

#local env
merlin_env

# extra-tools
tools/REAPER/
tools/magphase/
tools/postfilter/
